.player-header {
  border-radius: .5rem;
  border-style: solid;
  border-color: teal;
  margin: 3px;
}
.player-properties {
  border-radius: .25rem;
  border-style: solid;
  border-color: lightblue;
  margin: 3px;
}
.player-resourses {
  border-radius: .25rem;
  border-style: solid;
  border-color: lightblue;
  margin: 3px;
}
